<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de la Base de Datos</title>
    <link rel="stylesheet" href="../css/tablas.css">
</head>
<body>
    <div class="Home">
        <a href="../views/index.html"> <i class="fa-solid fa-home"></i>  </a>
    </div>
    <div class="container">
        <div class="header">
            <h1>Tablas de la Base de Datos</h1>
        </div>
        <div class="table">
            <h2>Mesas</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mesa Redonda</th>
                        <th>Mesa Rectangular</th>
                        <th>Mesa Cuadrada</th>
                    </tr>
                </thead>
                <!-- Aquí irían los datos de la tabla Mesas desde la base de datos -->
            </table>
        </div>
        <div class="table">
            <h2>Manteles</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <!-- Aquí irían los datos de la tabla Manteles desde la base de datos -->
            </table>
        </div>
        <div class="table">
            <h2>Citas</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table">
            <h2>Loza</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo loza</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table">
            <h2>Decoracion</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de decoracion</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table">
            <h2>Animador</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>aimador</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table">
            <h2>Musica</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mariachi</th>
                        <th>Norteño</th>
                        <th>Banda</th>
                        <th>DJ</th>
                        <th>Sonido</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/e073821f55.js" crossorigin="anonymous"></script>

</body>
</html>
